spring:
  application:
    name: demo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/NEW9?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true
  server:
    servlet:
      session:
        cookie:
          http-only: true
          secure: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

file:
  dir: C:\Users\dkswo\workspace\Ahn\demo_sc\src\main\resources\file_dir # 파일이 저장될 디렉토리
